{% load static %}
{% load humanize %}
<html>
  <head>
    <meta name="viewport" charset="utf-8">
    <title>
      user information
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'brackets/style.css' %}" />
    <link rel="stylesheet" type="text/js" href="{% static 'brackets/style.js' %}" />
  </head>
  <body>
      <div class="container card-panel hoverable indigo lighten-5">
        <div class="row">
          <h3 class="col s10 offset-s1">your tax breakdown</h3>
        </div>
        {% block content %}
        <div class="row">
          <p class="col s6 offset-s1">${{ user_info.salary | intcomma }}</p>
        </div>
        <div class="row">
          <p class="col s6 offset-s1">{{ state }}</p>
        </div>
        <div class="row">
          <p class="col s6 offset-s1">{{ user_info.marital_status }}</p>
        </div>
      {% endblock %}
      </div>
    </body>
</html>
<!-- <div class="row">
  <p class="col s6 offset-s1">{{ user_info.zip_code }}</p>
</div>
<div class="row">
  <p class="col s6 offset-s1">{{ city }}</p>
</div> -->
