{% load static %}
<html>
  <head>
    <meta name="viewport" charset="utf-8">
    <title>
      user information
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'brackets/style.css' %}" />
    <link rel="stylesheet" type="text/js" href="{% static 'brackets/style.js' %}" />

  </head>
  <body>
    <h1>USER INFO</h1>
    {% block content %}
        <div>
            <h1>{{ user_info.salary }}</h1>
            <h1>{{ user_info.zip_code }}</h1>
            <h1>{{ user_info.marital_status }}</h1>
        </div>
    {% endblock %}
    </body>
</html>
