<form class="userform" action="index.html" method="post">
  <label for="{{ user_info.zip_code }}">zip code: </label>
  <input type="text" name="{{ user_info.salary }}" value="{{ current_name }}">
  <label for="{{ user_info.salary }}">annual salary: </label>
  <input type="text" name="{{ user_info.salary }}" value="{{ current_name }}">
  <label for="{{ user_info.marital_status }}">marital_status: </label>
  <input type="text" name="{{ user_info.marital_status }}" value="{{ current_name }}">
  <input type="submit" value="see estimated taxes">
</form>
